*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(130, 86, 212);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search{
    border: none;
    width: 400px;
    max-width: 50%;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.search:focus{
    outline: none;
}

.search::placeholder{
    padding-left: 2px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(130, 86, 212);
}

.user{
    height: 5rem;
    width: 80%;
    background-color: red;
}